body {
	background:rgb(221, 221, 221);
	position:relative;
} 

header.top{
	position:absolute;
	background-color:rgb(0, 0, 77);
    top: 0;
    position: fixed;
    height:12%;
	z-index: 3;
	width:100%;
}
header.top img{
	float:left; 
	height: 65%;
	width:100px;
	margin:20px;
}
div.upper{
	position:relative;
	background:rgb(240, 240, 240);
	padding: 20px;
	border-style:solid; 
	border-radius:2px;
	border-color :lightgrey;
    margin:auto;
    margin-top:7%;
    align-content:center;
    padding:40px;
}
div.upper input{
	float:left;
}
div.upper a{
	float:right;
	
}

#map {
    height: 60%;
    width:100%;
    
     }
     
     
html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
div.div2 input:hover {
    opacity: 0.3;
    color:white;
    background:black;
}
div.div2 input:not([type=checkbox]) {
    width: 60%;
    margin-left:20px;
    margin:3px;
    padding: 5px 3px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}


div.center{
	position:realative;
	background:rgb(240, 240, 240);
	padding: 20px;
	border-style:solid; 
	border-radius:2px;
	border-color :lightgrey;
    margin: auto;
    text-align: center;
    align-content:center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
footer.bottom{	
	background-color:rgb(0, 0, 77);
    height:100px;
	position: fixed;
    bottom: 0;
    height:12%;
	z-index: 3;
	width:100%;
}